$color-palette: (
  //primary-color-1: rgb(77, 116, 250),
  //primary-color-1: rgb(81, 138, 242),
  primary-color-1: rgb(34, 139, 251),
  primary-color-2: rgb(255, 255, 255),
  primary-color-3: rgb(0, 0, 0),
  primary-color-4: rgb(111, 119, 121),
  primary-color-5: rgb(204, 204, 204)
  // secondary-color-1: rgb(51, 89, 178)
  //secondary-color-1: rgb(60, 86, 226)
  //secondary-color-1: rgb(34, 139, 251)
);

@function get-color($color-name, $alpha: 1) {
  @return rgba(map-get($color-palette, $color-name), $alpha);
}

$font-rem-sizes: (
  _11px: 0.68rem,
  _12px: 0.75rem,
  _14px: 0.875rem,
  _16px: 1rem,
  _18px: 1.125rem,
  _22px: 1.375rem,
  _26px: 1.625rem,
  _28px: 1.75rem
);

@function get-rem($pixels) {
  @return map-get($font-rem-sizes, $pixels);
}

$shadow: 0px 0px 20px get-color(primary-color-4, .2);



// $shadow-thin: 0px 0px 5px get-color(primary-color-1, .2);
// $shadow-down: 0px 12px 20px get-color(primary-color-1, .2);

// $max-width: 1180px !default;
// $max-width: 1333px !default;

/// Header Bar's height
// $header-bar-height: 80px !default;
