<div class="header">
  <div class="container">
    <div class="logo" routerLink="" (click)="gotoHome()"><img src="assets/icons/place-marker.svg">Search for great places everywhere!</div>
    <div class="search-box">
      <form novalidate [formGroup]="frmSearchOptions" (ngSubmit)="searchVenues()">
        <div class="form-group">
          <select formControlName="category" class="form-control">
            <option value="" disabled selected>What are you looking for?</option>
            <option [value]="category.id" [attr.label]="category.name" *ngFor="let category of categories">
              {{ category.name }}
            </option>
          </select>
          <input type="text" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="place" class="form-control"
            placeholder="Where?" #searchPlace>
          <div>
            <button type="submit" class="btn-icon">
              <img src="assets/icons/magnifying-glass.svg" title="Search for places in the indicated location">
            </button>
            <button type="button" class="btn-icon" (click)="searchInCurrentLocation()">
              <img src="assets/icons/current-location.svg" title="Search for places in your current location">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="venues-list container" [ngClass]="{ bordered : (!showCover && !loading) }">
  <div class="cover" *ngIf="showCover"><img src="assets/map-with-markers.svg"></div>
  <div class="loading" *ngIf="loading"><img src="assets/loading.gif"></div>
  <div class="messages">{{ message }}</div>
  <table class="table">
    <tr *ngFor="let venue of venues">
      <td class="venue">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-10">
            <!-- Another possibility is showing the details in a new page but I prefer the modal. -->
            <!-- <div class="name" routerLink="venueDetail/{{ venue.id }}">{{ venue.name }}</div> -->
            <div class="name" (click)="showVenueDetail(venue.id)">{{ venue.name }}</div>
            <div class="address">{{ venue.location.formattedAddress}}</div>
            <div class="categories"><span *ngFor="let venueCategory of venue.categories">{{ venueCategory.name }}</span></div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2">
            <img class="main-photo" src="assets/image.svg" (click)="showVenueDetail(venue.id)" title="Here would be the best image of the venue, but Foursquare API allows only 50 photo requests per day for public key, and I don't want the message 'quota exceeded' appears. :S">
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade" id="venue-detail" tabindex="-1" role="dialog" aria-labelledby="venueDetail" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="venueDetail"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <!-- <agm-map [latitude]="latitude" [longitude]="longitude">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map> -->
      <!-- <div id="carousel-photos" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner"></div>
        <a class="carousel-control-prev" href="#carousel-photos" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-photos" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->
      <div class="social-media-buttons">
        <share-buttons [theme]="'default'" [include]="['facebook','twitter','google','linkedin','pinterest','reddit','tumblr','whatsapp','messenger','telegram','vk','stumble','xing','sms','email','copy','print']"
          [show]="5" [url]="this.venueDetailURL" [autoSetMeta]="false"></share-buttons>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
