@import '~sass/styles';

:host {
  display: block;

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 35px;
    background-color: get-color(primary-color-1);
    box-shadow: $shadow;
    z-index: 10;

    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: -20px;
        font-size: get-rem(_24px);
        font-weight: normal;
        color: get-color(primary-color-2);
        cursor: pointer;
        outline: none;

        img {
          width: 40px;
          height: auto;
          margin-right: 10px;
        }
      }

      .search-box {
        width: 50%;

        form {
          .form-group {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            .form-control {
              font-size: get-rem(_14px);
              width: 40%;
            }

            .btn-icon {
              background-color: transparent;
              padding: 0;
              outline: none;
              border: none;
              cursor: pointer;

              img {
                width: 30px;
                height: 30px;
              }
            }

          }
        }
      }
    }
  }

  /* Styles for list of venues */

  .venues-list {
    padding-top: 150px;
    min-height: 100vh;

    &.bordered {
      border: 1px solid get-color(primary-color-5);
      box-shadow: $shadow;
    }

    .cover {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      min-height: calc(100vh - 150px);

      img {
        width: 50%;
        height: auto;
      }
    }

    .venue {

      .name {
        font-size: get-rem(_22px);
        font-weight: normal;
        color: get-color(primary-color-1);
        margin-bottom: 20px;
        cursor: pointer;
        outline: none;
      }

      .address {
        font-size: get-rem(_14px);
        font-weight: normal;
        color: get-color(primary-color-4);
        margin-bottom: 20px;
      }

      .categories {
        font-size: get-rem(_12px);
        font-weight: normal;
        color: get-color(secondary-color-1);
        margin-bottom: 20px;
      }

      .main-photo {
        width: 100%;
        height: auto;
        cursor: pointer;
        outline: none;
      }

    }

  }

  /* Styles for a venue detail */

  #venue-detail {
    .modal-dialog {
      .modal-content {
        .modal-header {
          .modal-title {
            font-size: get-rem(_28px);
            font-weight: normal;
            color: get-color(primary-color-1);
          }

        }

        .modal-body {

          & ::ng-deep {

            .address {
              font-size: get-rem(_16px);
              font-weight: normal;
              color: get-color(primary-color-4);
              margin-bottom: 20px;
            }

            .categories {
              font-size: get-rem(_12px);
              font-weight: normal;
              color: get-color(secondary-color-1);
              margin-bottom: 20px;
            }

            .likes {
              font-size: get-rem(_12px);
              font-weight: normal;
              color: get-color(primary-color-4);
              margin-bottom: 20px;

              .count {
                margin-right: 8px;
                color: get-color(primary-color-3);
              }

              .icon {
                width: 15px;
                height: auto;
              }
            }

            img {
              max-width: 100%;
              height: auto;
            }

            .tips {
              margin-top: 20px;
              font-size: get-rem(_16px);
              font-weight: normal;
              color: get-color(primary-color-4);
            }
          }
        }

        .social-media-buttons {
          padding: 1rem;
        }
      }
    }
  }

  /* Responsive styles */

  @include media-breakpoint-between(md, lg) {

    .header {
      .container {
        flex-flow: column wrap;
        align-items: flex-start;

        .logo {
          width: 100%;
          font-size: get-rem(_22px);
          margin-bottom: 20px;
        }

        .search-box {
          width: 100%;
        }

      }
    }

    .venues-list {
      padding-top: 200px;
    }
  }

  @include media-breakpoint-down(sm) {

    .header {
      position: relative;

      .container {
        flex-flow: column wrap;

        .logo {
          width: 100%;
          font-size: get-rem(_20px);
          margin-bottom: 20px;

          img {
            width: 50px;
            height: auto;
          }
        }

        .search-box {
          width: 100%;

          form {
            .form-group {
              flex-flow: column wrap;
              align-items: flex-end;

              .form-control {
                width: 100%;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }

    .venues-list {
      padding-top: 15px;
    }
  }

}
