<div class="container">
  <div class="search-options-box">
    <form novalidate [formGroup]="frmSearchOptions" (ngSubmit)="searchVenues()">
      <div class="fields-container">
        <div class="form-group">
          <select formControlName="category" class="form-control">
            <option [value]="category.id" [attr.label]="category.name" *ngFor="let category of categories">
              {{ category.name }}
            </option>
          </select>
          <input type="text" formControlName="place" class="form-control" placeholder="Where?">

          <div *ngIf="frmSearchOptions.get('place').touched && frmSearchOptions.get('place').invalid" class="input-alert">
            <div *ngIf="frmSearchOptions.get('place').hasError('required')">
              Please, provide a location to search for the venues.
            </div>
            <!-- <div *ngIf="frmSearchOptions.get('place').hasError('pattern')">
              Incorrect place.
            </div> -->
          </div>
        </div>
      </div>
      <div class="btn-container">
        <div class="btn-loading">
          <button type="submit" [disabled]="frmSearchOptions.invalid" class="btn-next btn-arrow-two-color">Buscar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="venues-list">
    <div class="messages">{{ message }}</div>
    <table class="table">
      <tr *ngFor="let venue of venues">
        <td>
          {{ venue.name }}
        </td>
      </tr>
    </table>
  </div>
</div>
